<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greetings(${patron})}"></p>

<p> As you report book:
    <span th:text="${book.title +  ' - ' +  book.edition +  ' edt'}"></span>
    has lost at <span th:text="${reportedAt}"></span>
</p>
<p>
    You must pay: <span th:text="${fine}"></span> VND
</p>
<br/>
<p th:text="#{regards}"></p>
<img src="https://firebasestorage.googleapis.com/v0/b/rfid-ae39e.appspot.com/o/images%2Flogo%2Flogo_trans.PNG?alt=media&token=c5652e07-ba59-494c-ba23-46f3f60acad0" width="200" height="100">

</body>
</html>