<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greetings(${patron})}"></p>

<p> Please return book:
    <span th:text="${book.title +  ' - ' +  book.edition +  ' edt'}"></span>
    before <span th:text="${dueDate}"></span>.
</p>
<p>
    You can return book at: book drop station, self return kiosk, or librarian counter.
</p>
<p>
    If return is made after the due day, you have to pay overdue fine <span th:text="${fineRate}"></span>
    VND per day for each copies.
</p>
<br/>
<p th:text="#{regards}"></p>
<img src="https://firebasestorage.googleapis.com/v0/b/rfid-ae39e.appspot.com/o/images%2Flogo%2Flogo_trans.PNG?alt=media&token=c5652e07-ba59-494c-ba23-46f3f60acad0" width="200" height="100">

</body>
</html>