<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greetings(${patron})}"></p>
<div>
    <h2>Renew Information</h2>
    <p>
        You have renew the following book:
    </p>
    <table border="1">
        <tr>
            <th>Book</th>
            <th>Renewed At</th>
            <th>Old Due Date</th>
            <th>New Due Date</th>
            <th>Renew time</th>
        </tr>
        <tr>
            <td th:text="${book}"></td>
            <td th:text="${renewAt}"></td>
            <td th:text="${oldDue}"></td>
            <td th:text="${newDue}"></td>
            <td th:text="${renewTime}"></td>
        </tr>
    </table>
</div>
<p>We applied the following policies</p>
<br/>
<div>
    <h2>Renew Policy</h2>
    <table border="1">
        <tr>
            <th>Patron Type</th>
            <th>Category</th>
            <th>Renew Duration<span>*</span> (day)</th>
            <th>Max Renew Time</th>
        </tr>
        <tr>
            <td th:text="${copyType}"></td>
            <td th:text="${patronType}"></td>
            <td th:text="${maxExtendDuration}"></td>
            <td th:text="${maxExtendTime}"></td>
        </tr>
    </table>
</div>
<br/>
<div>
    <h2>Fine Policy</h2>
    <p>Patrons should return all borrowing books before the due date. Patrons who return after the due date will be fined an amount of money.
    </p>
    <p><b>Overdue fine: </b> <span th:text="${feePolicy.overdueFinePerDay}"></span> VND/overdue day*/book </p>
    <p>If the borrowed book is lost, the patron will also be fined</p>
    <ul>
        <li><b>Lost book fine</b></li>
        <ul>
            <li>If the book is still available in the market: Fine (VND) = Lost book’s price** + <span th:text="${feePolicy.documentProcessing_Fee}"></span> (Document processing fee)</li>
            <li>If the book is no longer available to buy: Fine (VND) = Lost book’s price x <span th:text="${feePolicy.missingDocMultiplier}"></span> times</li>
        </ul>
    </ul>
    <p>*Does not include Saturdays and Sundays.</p>
    <p>**Lost book’s price is based on what the library recorded when the book is added to the library multiplied by <span th:text="${feePolicy.maxPercentageOverdueFine}"></span>%.</p>
</div>
<br/>
<p th:text="#{regards}"></p>
<p>
    <em th:text="#{signature}"></em> <br />
</p>
</body>
</html>